<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Francis Anyuru</mat-card-title>
      <mat-card-subtitle>Pedi</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Francis is an artist, musician, basketball player and programmer. Father to two lovely children
        and in love with Charlotte. He wait forever just for a moment with her. He loves her forever!!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">DETAILS</button>
      <button mat-raised-button color="accent">EDIT</button>
    </mat-card-actions>
  </mat-card>
  